body,
html {
  margin: 0;
  padding: 0;
}

.projects {
  padding: 10px 40px;
  background: linear-gradient(89.58deg, #BBD2C5 0.33%, rgba(83, 105, 118, 0.511459) 48.84%, rgba(97, 99, 106, 0) 99.62%);
}

.projectSec {
  padding: 10px 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
}


.imgp {
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.103);
  overflow: hidden;
}

.imgp:hover {
  /* background-color: rgb(216, 0, 0); */
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.429);


}

.imgp .img {
  transition: transform 0.8s ease;
  height: 240px;
  width: 100%;
  overflow: hidden;

}


.imgp .img:hover {
  overflow: hidden;
  transform: scale(1.1);
}

.projectSec .imgp .heading p {
  text-align: center;
  color: black;
}



@media (min-width: 300px) and (max-width: 800px) {
  .projectSec {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgp {
    width: 100%;
  }

  .imgp .img {
    transition: transform 0.8s ease;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.projectSec .imgp .heading p {
  text-align: center;
  color: black;
  font-size: 10px;
}


}

@media (min-width: 800px) and (max-width: 1200px) {
  .imgp .img {
    transition: transform 0.8s ease;
    height: auto;
    width: 100%;
    overflow: hidden;
}
}


h1 {
  text-align: center;
  width: 100%;
  height: 3rem;
  background-color: rgba(240, 255, 255, 0.201);
  color: #103E58;
  padding: 30px 10px;
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

@media (min-width: 300px) and (max-width: 600px) {
  h1 {
    text-align: center;
    width: 100%;
    height: 3rem;
    background-color: rgba(240, 255, 255, 0.201);
    color: #103E58;
    padding: 30px 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
  }
}

.aboutProject {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/liv3.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 7rem;
  color: #e0f6ff;
}

@media (min-width: 300px) and (max-width: 600px) {
  h4 {
    font-size: 3rem;
    color: #e0f6ff;
  }
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);



}

.modal-content {
  height: 550px;
  width: 100%;
  overflow: hidden;
 
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 600px) {
  .modal-content {
    height: 180px;
    width: 100%;
    overflow: hidden;
  }
}

/* Navbar Starts */

.Navlogo{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 90px;
  height: 100px;
  margin-left: 20px;
}


  .navbar {
    position: fixed; /* Change to fixed */
    top: 0; /* Place at the top */
    left: 0; /* Adjust left position if needed */
    background:linear-gradient(270deg, #717171 0%, rgba(83, 105, 118, 0.5375) 46.25%, rgba(41, 46, 73, 0) 100%);
    height: 70px;
    z-index: 1000; /* Increase z-index to make it appear on top */
    width: 100%; /* Make the navbar span the full width */
  }

.container {
  position: relative;
}

.menu-btn {
 /* border: 2px solid blueviolet; */
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 6;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.menu-btn::before {
  top: 0;
  right: 0;
}

.menu-btn::after {
  bottom: 0;
  right: 0;
}

.menu-btn.open::before {
  transform: translateY(12px) rotate(45deg);
}

.menu-btn.open::after {
  transform: translateY(-12px) rotate(-45deg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.backdrop.open {
  opacity: 1;
  pointer-events: auto;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.087);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(54, 54, 54, 0.122);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2;
}

.menu.open {
  transform: translateX(0);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
}

.link:hover {
  color: #aaf;
}


/* Navbar Ends */


/* Landing Page Starts */

.LandingPage {
  margin: 0;
  padding: 0;
}

/* Carousel Starts */

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-slide {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 0.9s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-slide img {
  height: 100vh;

}

.carousel-slide.active {
  opacity: 1;
}

.carousel-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.415), rgba(0, 0, 0, 0.415));
}

.carousel-caption {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  text-align: center;
  color: rgb(250, 250, 250);
  font-weight: lighter;
  background-color: none;
  padding: 5px;
  width: 100%;
  font-size: 500%;
}

@media screen and (max-width: 768px) {
  .carousel-container {
    height: 50vh;
  }
  .carousel-slide {
    height: 50vh;
  }

  .carousel-slide img {
    height: 50vh;

  }

  .carousel-caption {
    font-size: 20px;
  }
}


@media screen and (min-width: 900px) and (max-width: 1000px)
{
  .carousel-container {
    height: 70vh;
  }
  .carousel-slide {
    height: 70vh;
  }

  .carousel-slide img {
    height: 70vh;

  }

  .carousel-caption {
    font-size: 35px;
  }
}

/* Carousel Ends */
/* Carousel Ends */



.aboutCompany {
  background: linear-gradient(89.58deg, #BBD2C5 0.33%, rgba(83, 105, 118, 0.511459) 48.84%, rgba(97, 99, 106, 0) 99.62%);
  width: 100%;
  height: 108vh;

}

.aboutCompany2 {
  /* background-color: rgb(121, 84, 84); */
  /* border: 5px solid black ; */
  padding: 5% 3% 5% 3%;
  height: 85vh;

}

.aboutCompany3 {
  /* background-color: #103E58; */
  text-align: center;
  font-size: 350%;
}

.aboutCompany4 {
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;

}

.aboutImage {
  /* background-color: blue; */
  overflow: hidden;
  width: 45vw;
  height: 100%;
  margin-right: 2vw;

}

.aboutDiscription {
  /* background-color: rgb(163, 157, 35); */
  width: 25vw;
  font-size: 150%;
  margin-left: 5vw;
  text-align: justify;
  margin-top: 1vw;
}

.title {
  font-size: 200%;
  margin: 1vw 3vw 0.5vw 1vw;
  font-weight: bold;
}

.highlighter {
  height: 0.2rem;
  width: 7rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  background-color: #103E58;
  /* padding: 0 15rem 0 0.3rem; */
}

.aboutTeam {
  background: linear-gradient(270deg, #BBD2C5 0%, rgba(83, 105, 118, 0.5375) 46.25%, rgba(41, 46, 73, 0) 100%);
  height: 108vh;

}

.aboutTeam2 {
  /* background-color: rgb(121, 84, 84); */
  /* border: 5px solid black ; */
  padding: 5% 3% 5% 3%;
  height: 85vh;

}

.aboutTeam3 {
  /* background-color: #103E58; */
  text-align: center;
  font-size: 350%;
}

.aboutTeam4 {
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;

}

.aboutTeamImage {
  /* background-color: blue; */
  overflow: hidden;
  width: 32vw;
  margin-left: 2vw;

}

.aboutTeamDiscription {
  /* background-color: rgb(163, 157, 35); */
  width: 30vw;
  font-size: 150%;
  margin-right: 1vw;
  text-align: justify;
  margin-top: 1vw;
}

.Teamtitle {
  font-size: 200%;
  margin: 2vw 2vw 0.5vw 0;
  font-weight: bold;
}

.Teamhighlighter {
  height: 0.2rem;
  width: 7rem;
  /* margin-left: 0.8rem; */
  margin-top: 0.8rem;
  background-color: #103E58;
  /* padding: 0 15rem 0 0.3rem; */
}

/* start */

.ab{
  background-image: url(./img/abee.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  /* background-position: bottom bottom; */
  
}

.about {  
 
  background: linear-gradient(270deg, #BBD2C5 0%, rgba(83, 105, 118, 0.5375) 46.25%, rgba(41, 46, 73, 0) 100%);
 
}


.image-description {
  height: 100vh;
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  padding: 20px 0px 0 90px;
  width: 100%;
  height: 100%;
}

.description-container {
  flex: 1;
}

.description-container p {
  padding: 30px 100px;
  margin-left: 90px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  /* background-color: #e0f6ff4e; */
  /* border-radius: 10%; */
  /* z-index: -2; */
}

.head {
  text-align: center;
  letter-spacing: 3px;
  padding-top: 50px;
  font-size: 3rem;
  font-weight: 500;
  color: #000000;
}

@media screen and (min-width: 250px) and (max-width: 600px) {

  .about {
    height: auto;
  }

  .image-description {
    flex-direction: column-reverse;
    height: auto;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .description-container {
    padding: 20px 40px ;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .image-container {
    flex: 1;
    /* margin-right: 20px; */
    padding: 10px 10px ;
    
  }
  .image-container img {
    /* padding: 20px 10px 0 10px; */
    padding:  0 ;
    height: auto;
    width: 100%;
   

  }

  .description-container p {
    margin: 0;
    padding: 20px  40px;
    text-align: center;
    font-size: 1rem;
  }

  .head {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

  .about {
    height: auto;
  }

  .image-description {
    flex-direction: column-reverse;
    height: auto;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .description-container {
    padding: 20px 40px ;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .image-container {
    flex: 1;
    /* margin-right: 20px; */
    padding: 10px 10px ;
    
  }
  .image-container img {
    /* padding: 20px 10px 0 10px; */
    padding:  0 ;
    height: auto;
    width: 100%;
   

  }

  .description-container p {
    margin: 0;
    padding: 20px  40px;
    text-align: center;
    font-size: 1rem;
  }

  .head {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
  }
}

/* end */

/* team section */

.team-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(89.58deg, #BBD2C5 0.33%, rgba(83, 105, 118, 0.511459) 48.84%, rgba(97, 99, 106, 0) 99.62%);

}

.team-section__content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* max-width: 900px; */
  /* margin: 0 auto; */
}

.team-section__about {
  width: 60%;
}

.team-section__about h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin: 20px 0;
}

.team-section__about p {

  padding: 20px 10px 40px 10px;
  font-size: 20px;
  line-height: 1.2;
  /* background-color: #e0f6ff41; */
  /* border-radius: 20%; */
}

.team-section__image img {
  padding: 60px 0px 0 50px;
  width: 90%;
  height: 100%;

}


@media screen and (min-width: 250px) and (max-width: 600px) {
  .team-section {
    padding: 20px;
    height: auto;
  }

  .team-section__content {
    flex-direction: column;
  }

  .team-section__about {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }

  .team-section__about p {
    padding: 20px;
  }

  .team-section__image img {
    padding: 10px 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .team-section {
    padding: 20px;
    height: auto;
  }

  .team-section__content {
    flex-direction: column;
  }

  .team-section__about {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
  }

  .team-section__about p {
    padding: 20px;
  }

  .team-section__image img {
    padding: 10px 0;
    width: 100%;
    height: auto;
  }
}




/* Flipcard Starts */

.flipCard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(246, 211, 211);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/liv\ \(15\).jpeg);
  height: 110vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.card-container {
  width: 100%;
  border-radius: 10px;
  margin-top:15vh;
  margin-bottom:25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.flip-card {
  width: 20vw;
  height: 30vw;
  border-radius: 20px;
  perspective: 1000px;
  background-color: transparent;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  background-color: #536976;
  display: grid;
  place-items: center;
  border: 1px solid rgb(146, 142, 142);
  border-radius: 10px;
  object-fit: cover;
  color: white;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
  border-radius: 10px;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
}

.flip-card-back h3 {
  color: rgb(198, 128, 36);
}

.FlipcardNumber {
  width: 149px;
  height: 84px;
  color:transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.09em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #103E58;
}

.FlipcardName {
  margin-top: -1rem;
  font-size: 1.9rem;
  margin-bottom: -3rem;
}
.FlipcardText{
  font-size:1.2rem ;
  margin-top: -80px;
  padding: 2rem 1rem;
}

.FlipcardHighlighter {
  background-color: #103E58;
  height: 0.25rem;
  width: 4rem;
}
.services{
  font-size:3rem;
  padding-top:15rem;
  color: #103E58;

}

@media (min-width:250px) and (max-width:600px){
  .flip-card-inner {
    position: relative;
    width: 95%;
    height: 95%;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
}


@media (min-width:600px) and (max-width:1200px){

  

  .FlipcardName{
    font-size:1.3rem;
    margin-top: -5rem;
    margin-bottom: -4rem;
  }
  .FlipcardNumber{
    font-size: 60px;
  }
  .flip-card{
    width: 23vw;
    height: 19rem;
  }
 
  .FlipcardHighlighter{
  
    width: 3rem;
  }
  .FlipcardText{
    font-size:1.2rem;
    padding: 20px;
    padding-top: 4rem;

  }
  .services{
    padding-top: 8rem;
  }
  .card-container{
    margin-top: 10vh;
  }
  .flipCard{
    height: 80vh;
  }
}
@media  (min-width:600px) and (max-width:800px) {
  .FlipcardText{
    font-size:1rem;
    padding: 20px;
    padding-top: 3rem;
  }
}
@media (min-width:200px) and (max-width:600px){
  .FlipcardName{
    font-size:1rem;
  }
  .FlipcardNumber{
    font-size: 50px;
  }
  .flip-card{
    width: 48vw;
    height: 34vh;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
  }
  .FlipcardText{
    font-size: 0.9rem;
    padding: 1rem;
    padding-top: 6rem;
  }
  .FlipcardHighlighter{
    margin-top: 3rem;
    width: 3rem;
  }
 
  .card-container{
    margin-top: 10vh;
  }
  .flipCard{
    height: 110vh;
  }
}

.ImageSlider {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: whitesmoke;
}

.panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: antiquewhite;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
  width: calc(50% - 20px);
  /* Subtract the margin from the width */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  border-radius: 50px;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .ImageSlider {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}


@media screen and (min-width: 300px) and (max-width: 600px) {
  .panel {
    width: 100%;
    flex: 1;
    margin: 5px;
  }

  .panel.active {
    flex: 1;
  }

  .panel h3 {
    font-size: 16px;
  }
}


.slider-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider-container .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.slider-container .slide.active {
  opacity: 1;
}

.slider-container .slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-align: center;
  z-index: 2;
}

.slider-container .slider-btn {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.slider-container .smalltext {
  position: absolute;
  top: 80%;
  right: 20px;
  text-shadow: 3px 4px 6px black;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 50%;
}

.slider-container .under {
  position: absolute;
  top: 83%;
  right: 20px;
  text-shadow: 2px 2px 4px black;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.slider-container .prev-btn {
  right: 60px;
}

.slider-container .next-btn {
  right: 15px;
}

.img {
  width: 100%;
  height: 100vh;
}

.under {
  width: 60px;
  height: 3px;
  background-color: white;
}

@media (min-width:600px) and (max-width:1200px){
  .img {
  width: auto;
  height: auto;
}
}
@media (min-width:300px) and (max-width:600px){
  .img {
  width: auto;
  height: auto;
}
.slider-container .slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  z-index: 2;
}
}

/* footer start */

/* Responsive styles for Footer component */

/* Mobile-first styles */
.footer-container {
  width: 100%;


}

.foot {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  gap: 3px;
  align-items: center;
  background-color: gray;
}

.feat-sec {
  padding-left: 100px;
  display: block;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

.logo-img {
  padding-left: 50px;
  height: 30vh;
  width: 20vw;
}




.features {
  color: rgb(204, 204, 255);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.underline {
  width: 84px;
  height: 4px;
  background-color: #eaf7ff;
  margin-bottom: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: start;


}

.links .linkF {
  color: white;
  font-size: 14px;
  padding: 2px;
  align-items: start;

}

.office {
  color: rgb(204, 204, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.office-sec {
  padding: 20px 60px;
  display: block;
  align-items: start;
  justify-content: start;
  font-weight: 100;
}

.ud{
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 50px;
}

.underline-of {
  width: 120px;
  height: 4px;
  background-color: #eaf7ff;
  margin-bottom: 10px;
}

.of-para {
  padding: 10px 50px;
  text-align: start;
  color: whitesmoke;
}

.number {
  text-align: start;
  margin-top: 10px;
  color: white;
}

.cont-sec {
  padding: 0px 140px 0 0px;
}

.mail-id {
  display: flex;
  flex-direction: row;
  gap: 10px;
 
  color: #ffffff;
  font-size: 10px;

}

.mail-id .head-mail {
  color: #ffffff;
  font-size: 14px;
}

.underline-third{
  width: 140px;
  height: 4px;
  background-color: #eaf7ff;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.underline-third{
  color: #eaf7ff;

}

.icon{
  display: flex;
  gap: 20px;
  font-size: 30px;
  color: #e0f6ff;
}
.foot-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #103E58;
  color: #ffffff;
}

/* footer end */


/* Review Section Starts */

.review-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 15rem;
  color: gray;
}

.card-content {
  margin-left: 1.6rem;
  width: 24rem;
  margin-right: 0.4rem;
  margin-top: 2.4rem;
}

.card-title {
  font-size: 3rem;
  font-weight: bold;
}

.card-job {
  font-size: 1.6rem;
  color: blue;
}

/* .card-text {
  /* Add your custom styles for the card text */


/* Responsive Styles */
@media (max-width: 768px) {
  .review-card {
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .card-content {
    margin: 1.6rem 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 2rem;
    text-align: center;
  }

  .card-job {
    font-size: 1.2rem;
  }

  /* Add additional responsive styles as needed */
}

.review-section {
  background: linear-gradient(270deg, #BBD2C5 0%, rgba(83, 105, 118, 0.5375) 46.25%, rgba(41, 46, 73, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-button {
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.review-button:hover {
  background-color: rgba(82, 146, 255, 0.466);
}


.review-button button {
  color: rgb(175, 175, 176);
  font-size: 4rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-button button:hover {
  color: blueviolet;
}

.review-image {
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.review-content {
  margin-left: 1.6rem;
  width: 24rem;
  margin-right: 0.4rem;
  margin-top: 2.4rem;
}

.review-title {
  font-size: 3rem;
  font-weight: bold;
}

.review-job {
  font-size: 1.6rem;
  color: blue;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {

  .review-button button {
    font-size: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review-button {
    background-color: transparent;
    padding: 0 20px;
  }

  .review-button:hover {
    background-color: transparent;
    padding: 0 20px;
  }

  .review-section {
    /* margin-top: 1.4rem; */
  }

  .review-button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .review-image {
    width: 20rem;
    height: 20rem;
  }

  .review-content {
    margin-left: 1rem;
    width: 22rem;
    margin-right: 0.2rem;
    margin-top: 1.2rem;
  }

  .review-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .review-job {
    font-size: 1.4rem;
  }
}


/* Review Section Ends */
/* Landing Page Starts */